{
  "presets": [["env", { "loose": true }], "react"],
  "plugins": ["transform-object-rest-spread", "transform-class-properties", ["transform-runtime", { "useESModules": true }]],

  "env": {
    "es": {
      "presets": [["env", { "loose": true, "modules": false }], "react"],
      "plugins": ["transform-object-rest-spread", "transform-class-properties", "transform-runtime"]
    }
  }
}
