{
  "env": {
    "test": {
      "presets": [["env", { "loose": true }], "react"]
    },

    "cjs": {
      "presets": [["env", { "loose": true }], "react"]
    },

    "es": {
      "presets": [["env", { "loose": true, "modules": false }], "react"]
    }
  }
}
